.cart__container {
  background-color: white;
  padding: 30px 20px;
  border-radius: 10px;
  flex: 1;
  height: fit-content;
  display: grid;
  gap: 20px;
}

.cart__header {
  color: var(--red);
  font-size: 25px;
}

.cart__empty_container {
  text-align: center;
  display: grid;
  gap: 20px;
  font-size: 0.8rem;
  color: var(--rose-400);
  font-weight: 600;
}

.cart__empty_img {
  margin: 0 auto;
}

.cart__filled_container {
  display: grid;
  gap: 20px;
}

.cart__list {
  list-style-type: none;
  display: grid;
  gap: 15px;
}

.cart__orderTotal_container {
  display: flex;
  justify-content: space-between;
}

.cart__orderTotal_text {
  font-size: 0.8rem;
  color: var(--rose-900);
}

.cart__orderTotal_sum {
  font-weight: 700;
  font-size: 1.2rem;
}

.cart__delivery {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 0.7rem;
  background-color: var(--rose-100);
  padding: 15px;
  border-radius: 10px;
}

.cart__carbon_neutral {
  font-weight: 700;
}

.cart__confirm_btn {
  width: 100%;
  background-color: var(--red);
  color: white;
  height: 44px;
  border-radius: 9999px;
  transition: all 0.3s ease;
}

.cart__confirm_btn:hover {
  background-color: var(--red-dark);
}

.cartItem__container {
  font-size: 0.8rem;
}

.cartItem__details_btn_container {
  display: flex;
  justify-content: space-between;
}

.cartItem__details {
  display: grid;
  gap: 6px;
}

.cartItem__name {
  font-weight: 600;
}

.cartItem__price_qty_container {
  display: flex;
  gap: 6px;
}

.cartItem__qty {
  color: var(--red);
  font-weight: 700;
}

.cartItem__price {
  color: var(--rose-300);
}

.cartItem__price_total {
  color: var(--rose-500);
  font-weight: 600;
}

.cartItem__remove_btn {
  height: 18px;
  width: 18px;
  border-radius: var(--radius-full);
  border: 2px solid var(--rose-300);
  color: var(--rose-300);
  display: grid;
  place-content: center;

  transition: all 0.3s ease;
}

.cartItem__remove_btn:hover {
  border: 2px solid var(--rose-900);
  color: var(--rose-900);
}

.cartItem__remove_icon {
  fill: currentColor;
}

.cartItem__divider {
  background-color: var(--rose-100);
  width: 100%;
  height: 1px;
  margin-top: 15px;
}

@media (min-width: 800px) {
  .cart__container {
    min-width: 330px;
  }
}
