.addToCart_btn__container {
  background-color: white;
  color: white;
  border: 1px solid var(--rose-500);
  border-radius: var(--radius-full);
  font-weight: 600;
  min-width: 170px;
  height: 44px;
  position: relative;

  transition: background-color 0.3s ease;
}

.addToCart_btn__container[data-clicked="true"] {
  background-color: var(--red);
}

.addToCart__btn {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.clicked__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.changeQuantity_btn {
  height: 100%;
  width: 45px;
  display: grid;
  place-items: center;
}

.clicksQuanity {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.changeQuantity_icon {
  outline: 1px solid white;
  border-radius: var(--radius-full);
  outline-offset: 4px;
  width: 10px;
  height: 10px;
}
