.searchBar__container {
  flex: 1;
}

.searchBar__input {
  border: none;
  width: 100%;
  padding: 8px 10px;
  outline: 2px solid var(--rose-300);
  border-radius: 10px;
}

.searchBar__input:focus {
  outline: 2px solid var(--red);
}
